<div class="contrainer">
  <div class="row">
    <div class="col">
      <h3>Prioritás</h3>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="priorityRadioOptions" id="priorityLowRb" value="alacsony" [(ngModel)]="announcement.priority">
        <label class="form-check-label" for="inlineRadio1">
          <span class="badge badge-success">alacsony</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="priorityRadioOptions" id="priorityMediumRb" value="közepes" [(ngModel)]="announcement.priority">
        <label class="form-check-label" for="inlineRadio2">
          <span class="badge badge-warning">közepes</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="priorityRadioOptions" id="priorityHighRb" value="magas" [(ngModel)]="announcement.priority">
        <label class="form-check-label" for="inlineRadio3"><span class="badge badge-danger">magas</span></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Címzett</h3>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rangeRadioOptions" id="inlineRadio1" value="mindenki" [(ngModel)]="announcement.range">
        <label class="form-check-label" for="inlineRadio1">
          <span class="badge badge-primary">mindenki</span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="rangeRadioOptions" id="inlineRadio2" value="lakók" [(ngModel)]="announcement.range">
        <label class="form-check-label" for="inlineRadio2">
          <span class="badge badge-primary">lakók</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="textControlArea">Hírdetmény szövege</label>
        <textarea class="form-control" id="textControlArea" rows="3" [(ngModel)]="announcement.text"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" (click)="send()" class="btn btn-success">Elküld</button>
    </div>
  </div>
</div>


