

<app-user-balance></app-user-balance>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="container container-balance-info"
           [ngClass]="{ 'equal': flatBalance.waterAmount ==0, 'behind': flatBalance.waterAmount > 0,'over': flatBalance.waterAmount < 0 }">
        <div class="row">
          <div class="col">
            <div class="row justify-content-center">
              <div *ngIf="!flatBalance.waterAmount">
                <div>Nincs adat</div>
              </div>
              <div *ngIf="flatBalance.waterAmount > 0">
                <div>Elmaradás</div>
                <button class="btn btn-danger" (click)="payWaterBills(flatBalance.waterAmount,0)">Befizet</button>
              </div>
              <div *ngIf="flatBalance.waterAmount < 0">
                <div>Túlfizetés</div>
              </div>
              <div *ngIf="flatBalance.waterAmount == 0">
                <div>Egyenlőség</div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div *ngIf="flatBalance.waterAmount != 0">
                <div class="balance-amount">{{flatBalance.waterAmount | currency:'HUF'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="balance-description">
        <span>Víz számla egyenleg</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="container container-balance-info"
           [ngClass]="{ 'equal': flatBalance.heatingAmount ==0, 'behind': flatBalance.heatingAmount > 0,'over': flatBalance.heatingAmount < 0 }">
        <div class="row">
          <div class="col">
            <div class="row justify-content-center">
              <div *ngIf="!flatBalance.heatingAmount">
                <div>Nincs adat</div>
              </div>
              <div *ngIf="flatBalance.heatingAmount > 0">
                <div>Elmaradás</div>
                <button class="btn btn-danger" (click)="payWaterBills(flatBalance.heatingAmount,2)">Befizet</button>
              </div>
              <div *ngIf="flatBalance.heatingAmount < 0">
                <div>Túlfizetés</div>
              </div>
              <div *ngIf="flatBalance.heatingAmount == 0">
                <div>Egyenlőség</div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div *ngIf="flatBalance.heatingAmount != 0">
                <div class="balance-amount">{{flatBalance.heatingAmount | currency:'HUF'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="balance-description">
        <span>Fűtés számla egyenleg</span>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 justify-content-center">
      <div class="container container-balance-info"
           [ngClass]="{ 'equal': flatBalance.electricalAmount ==0, 'behind': flatBalance.electricalAmount > 0,'over': flatBalance.electricalAmount < 0 }">
        <div class="row">
          <div class="col">
            <div class="row justify-content-center">
              <div *ngIf="!flatBalance.electricalAmount">
                <div>Nincs adat</div>
              </div>
              <div *ngIf="flatBalance.electricalAmount > 0">
                <div>Elmaradás</div>
                <button class="btn btn-danger" (click)="payWaterBills(flatBalance.electricalAmount,1)">Befizet</button>
              </div>
              <div *ngIf="flatBalance.electricalAmount < 0">
                <div>Túlfizetés</div>
              </div>
              <div *ngIf="flatBalance.electricalAmount == 0">
                <div>Egyenlőség</div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div *ngIf="flatBalance.electricalAmount != 0">
                <div class="balance-amount">{{flatBalance.electricalAmount | currency:'HUF'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="balance-description">
        <div>Villany számla egyenleg</div>
      </div>
    </div>
  </div>
</div>
