<h4 class="announcement-text">Hirdetmények</h4>

<div *ngFor="let a of announcements">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-1"></div>
      <div class="col-md-8 col-sm-10">
        <div class="announcement announcement-shadow">
          <div class="container">
            <div class="row row-header">

              <span class="badge badge-primary">Feladó: {{a.senderName}}</span>


              <span class="badge badge-primary">{{a.range}}</span>


              <span class="badge badge-primary">{{a.date | date:'shortTime'}}</span>


              <div [ngSwitch]="a?.priority">
                <span class="badge badge-success" *ngSwitchCase="'low'">alacsony</span>
                <span class="badge badge-warning" *ngSwitchCase="'medium'">közepes</span>
                <span class="badge badge-danger" *ngSwitchCase="'high'">magas</span>
                <span class="badge badge-light" *ngSwitchDefault>ismeretlen</span>
              </div>

            </div>
            <div class="row row-body">
              <div class="col-12">
                <p>{{a.text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
  </div>
  
</div>

