<h3>Feltöltött adatok: </h3>
<div *ngIf="(flatDatas$ | async)?.length == 0">
  <div class="alert alert-success" role="alert">
    Még nem töltöttél fel adatot az aktuális lakásról!
  </div>
</div>
<div class="container">
  <div *ngFor="let flatData of (flatDatas$ | async)">
    <div class="flatData-panel">
      <div class="row row-pics">
        <div class="col">
          <h6 *ngIf="flatData?.pics?.length > 0">Feltöltött képek</h6>
          <div class="container container-pic">
            <div class="row">
              <div *ngFor="let pic of flatData.pics">
                <div class="col-sm-12">
                  <img [src]="pic.url" alt="egy kép" width="150px" height="auto">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-value">
        <div class="col col-value">
          <h6><strong>Érték:</strong></h6>
          <h6>{{flatData.value}}</h6>
          <h6 *ngIf="flatData.type == 'víz'">m3</h6>
          <h6 *ngIf="flatData.type == 'villany'">kWh</h6>
        </div>
      </div>
      <div class="row row-text">
        <div class="col col-text">
          <h6><strong>Megjegyzés:</strong></h6>
          <p>{{flatData.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
