
.balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 1.0s cubic-bezier(.25,.8,.25,1);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(68, 184, 172,0.6);
}

.balance:hover {
  background: rgb(68, 184, 172);
  color: white;

}

mat-radio-button{
    margin-left:5px;
    margin-right:5px;
}
