<h3>Számlák: </h3>
<div *ngIf="(actualFlat$ | async)?.bills.length == 0">
  <div class="alert alert-warning" role="alert">
    Nincs elérhető számla
  </div>
</div>

<div class="row">
  <button class="badge badge-danger" (click)="notPaidBillsFilter()">Befizetésre váró számlák</button>

  <button class="badge badge-success" (click)="paidBillsFilter()">Befizetett számlák</button>

  <button class="badge badge-primary" (click)="cancelFilter()">Összes</button>

  <button class="badge badge-light" (click)="waterBillsFilter()">Víz számlák</button>

  <button class="badge badge-light" (click)="electricBillsFilter()">Villany számlák</button>

  <button class="badge badge-light" (click)="heatingBillsFilter()">Fűtés számlák</button>
</div>
<div class="container" *ngIf="(actualFlat$ | async)?.bills.length > 0">
  <div class="row row-header">
    <div class="col-md-2">
      <div class="table-header">
        <h6>Státusz</h6>
      </div>
    </div>
    <div class="col-md-2">
      <div class="table-header">
        <h6>Típus</h6>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-header">
        <h6>Összeg</h6>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-header">
        <h6>Határidő</h6>
      </div>
    </div>
    <div class="col-md-2">
      <div class="table-header">
        <h6>Részletek</h6>
      </div>
    </div>
  </div>
  <div class="row row-body" *ngFor="let bill of (actualFlat$ | async)?.bills.filter(billFilter)">
    <div class="col-md-2">
      <div class="table-body">
        <span class="badge badge-success" *ngIf="bill.isPaid">Fizetve</span>
        <span class="badge badge-danger" *ngIf="!bill.isPaid">Befizetésre vár</span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="table-body">
        <div [ngSwitch]="bill?.type">
          <h6 *ngSwitchCase="0">Víz számla</h6>
          <h6 *ngSwitchCase="1">Villany számla</h6>
          <h6 *ngSwitchCase="2">Fűtés számla</h6>
          <h6 *ngSwitchCase="3">Közös költség számla</h6>
          <h6 *ngSwitchDefault>Számla</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-body">
        <h6>{{bill.amount | currency:'HUF'}}</h6>
      </div>
    </div>
    <div class="col-md-3">
      <div class="table-body" *ngIf="bill.billDate">
        <h6>{{bill.billDate.deadline | date:'medium'}}</h6>
      </div>
    </div>
    <div class="col-md-2">
      <div class="table-body">
        <button type="button" (click)="billDetails(bill.id)" class="btn btn-details">Megtekint</button>
      </div>
    </div>
  </div>
</div>
<app-bill-chart></app-bill-chart>
