<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Tarsashaz</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Kezdőlap</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/profile']" *ngIf="(actualUser$ | async) || isLoggedIn">Profilom</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/flat']" *ngIf="(actualUser$ | async) || isLoggedIn">Lakásom</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/data/upload']" *ngIf="(flats$ | async)?.length > 0 || isLoggedIn">Adatok feltöltése</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/problem/report']">Hiba bejelentés</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="(actualUser$ | async)?.role == 0">
            <a class="nav-link text-dark" [routerLink]="['/report']">Beszámoló</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="(actualUser$ | async) || isLoggedIn">
            <button mat-raised-button color="warn" class="save-button" (click)="logOut()">Kijelentkezés</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
