<div id="userCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#userCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#userCarousel" data-slide-to="1"></li>
    <li data-target="#userCarousel" data-slide-to="2"></li>
    <li data-target="#userCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="container">
        <app-successful-first-login></app-successful-first-login>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container container-user-info">
        <app-first-login-user-info></app-first-login-user-info>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container container-user-info">
        <h2>Amit meg kell adj:</h2>
        <mat-form-field class="example-full-width user-data">
          <mat-label><strong>Telefonszám</strong></mat-label>
          <input matInput type="tel">
        </mat-form-field>

      </div>
    </div>
    <div class="carousel-item">
      <div class="container container-user-info">
        <h2>Lakás címe:</h2>
        <app-first-login-form></app-first-login-form>
      </div>
    </div>
    <a class="carousel-control-prev" href="#userCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#userCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

