<div class="container mat-elevation-z8">
  <div class="row row-header">
    <div class="col-sm-2">
      Irányítószám
    </div>
    <div class="col-sm-3">
      Város
    </div>
    <div class="col-sm-2">
      Út
    </div>
    <div class="col-sm-1">
      Házszám
    </div>
    <div class="col-sm-1">
      Emelet
    </div>
    <div class="col-sm-1">
      Ajtó
    </div>
    <div class="col-sm-2">

    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-warning" role="alert" *ngIf="(flats$ | async)?.length == 0">
        Még nem vettél fel lakást!
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div ></div>
  <div class="row row-flat" *ngFor="let f of (flats$ | async)" [ngClass]="{ 'actual-flat':f.id == (actualFlat$ | async)?.id }">
    <div class="col-sm-2">
      {{f.address.postCode}}
    </div>
    <div class="col-sm-3">
      {{f.address.city}}
    </div>
    <div class="col-sm-2">
      {{f.address.street}}
    </div>
    <div class="col-sm-1">
      {{f.address.number}}
    </div>
    <div class="col-sm-1">
      {{f.address.floor}}
    </div>
    <div class="col-sm-1">
      {{f.address.door}}
    </div>
    <div class="col-sm-2">
      <button type="button" (click)="selectFlat(f.id)" class="btn btn-warning btn-sm">Kiválaszt</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-btn">
      <button type="button" (click)="showAddPanel()" class="btn btn-success">Új Lakás</button>
    </div>
  </div>
</div>



<app-add-flat (flatSavedEvent)="cancelAddPanel()" *ngIf="isAddPanelVisible"></app-add-flat>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mat-card class="menu-card" [ngClass]="{ 'menu-card-disabled': (flats$ | async)?.length == 0 }">
        <a [routerLink]="['/datas']" [ngClass]="{ 'disabled': (flats$ | async)?.length == 0 }">
          <img mat-card-image src="assets/img/upload.jpg" class="menu-icon">
        </a>
        <mat-card-content>
          <p>Feltöltött adatok</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="menu-card" [ngClass]="{ 'menu-card-disabled': (flats$ | async)?.length == 0 }">
        <a [routerLink]="['/balance']" [ngClass]="{ 'disabled': (flats$ | async)?.length == 0 }">
          <img mat-card-image src="assets/img/scale.png" class="menu-icon">
        </a>
        <mat-card-content>
          <p>Lakás egyenleg</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="menu-card" [ngClass]="{ 'menu-card-disabled': (flats$ | async)?.length == 0 }">
        <a [routerLink]="['/common']" [ngClass]="{ 'disabled': (flats$ | async)?.length == 0 }">
          <img mat-card-image src="assets/img/money.png" class="menu-icon">
        </a>
        <mat-card-content>
          <p>Közös költség</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="menu-card" [ngClass]="{ 'menu-card-disabled': (flats$ | async)?.length == 0 }">
        <a [routerLink]="['/bills']" [ngClass]="{ 'disabled': (flats$ | async)?.length == 0 }">
          <img mat-card-image src="assets/img/bill.png" class="menu-icon">
        </a>
        <mat-card-content>
          <p>Számlák</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


