
table {
  width: 100%;
}

.col-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.actual-flat {
  background-color: rgb(232,232,232);
  font-weight: bold
}

.menu-icon {
  width: 200px;
  height: 200px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1.0s cubic-bezier(.25,.8,.25,1);
}

  .menu-card:hover {
    background: rgb(68, 184, 172);
    color: white;
  }

.container {
    margin-top:20px;
    margin-bottom:20px;
}
