<div class="container">

  <div *ngIf="addressForm.get('floor').invalid && (addressForm.get('floor').dirty || addressForm.get('floor').touched)"
       class="alert alert-danger">
    <div *ngIf="addressForm.get('floor').errors.required">
      Add meg az emeletet!
    </div>
  </div>

  <!--Validation-Door-->
  <div *ngIf="addressForm.get('door').invalid && (addressForm.get('door').dirty || addressForm.get('door').touched)"
       class="alert alert-danger">
    <div *ngIf="addressForm.get('door').errors.required">
      Add meg az ajtót!
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="fill" *ngIf="condominiums">
        <mat-label>Válaszd ki a társasházad!</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value={{i}} *ngFor="let c of condominiums; let i = index">{{c.address.postCode}} {{c.address.city}} {{c.address.street}} {{c.address.number}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <form [formGroup]="addressForm" class="example-form" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <mat-form-field class="example-full-width">
          <mat-label>Emelet</mat-label>
          <input matInput type="number" formControlName="floor">
        </mat-form-field>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4 col-sm-12">
        <mat-form-field class="example-full-width">
          <mat-label>Ajtó</mat-label>
          <input matInput type="number" formControlName="door">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-danger">Mentés</button>
      </div>
    </div>
  </form>
</div>
