.container-pic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.upload-picture {
  display: flex;
  flex-direction: column;
}

.container {
    margin-top:10px;
    margin-bottom:10px;
}

.flat-details {
    color:white;
}

.expansion-panel {
  background-color: RGB(68, 184, 172);
  width:100%;
}
mat-panel-title {
    color:white;
}

p{
    color:white;
}
.container-data-upload {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius:2px;
  max-width:500px;
  padding-bottom:10px;
  padding-top:10px;
}

img{
    background-size:cover;
}
