
<h3>Bejelentett problémák</h3>
<div class="alert alert-success" role="alert" *ngIf="!problems || problems?.length == 0">
  Még nem jelentettek be problémát!
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div *ngFor="let problem of problems">
        <div class="row problem-panel">
          <div class="col-md-5 address-details">
            <div class="row">
              <div class="col-md-12">
                <h5>Lakás adatok</h5>
              </div>
            </div>
            <div class="row title">
              <div class="col-md-12">
                <h6><strong>Lakás címe:</strong></h6>
              </div>
            </div>
            <div class="row value">
              <div class="col-md-12">
                <h6>{{(actualFlat$ | async).address.postCode}} {{(actualFlat$ | async).address.city}}</h6>
              </div>
            </div>
            <div class="row value">
              <div class="col-md-12">
                <h6>{{(actualFlat$ | async).address.street}} {{(actualFlat$ | async).address.number}}</h6>
              </div>
            </div>
            <div class="row value">
              <div class="col-md-12">
                <h6>{{(actualFlat$ | async).address.floor}}.emelet {{(actualFlat$ | async).address.door}}.ajtó</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5>Tulajdonos:</h5>
              </div>
            </div>
            <div class="row title">
              <div class="col-md-12">
                <h6><strong>Név:</strong></h6>
              </div>
            </div>
            <div class="row value">
              <div class="col-md-12">
                <h6>{{(actualUser$ | async).name}}</h6>
              </div>
            </div>
            <div class="row title">
              <div class="col-md-12">
                <h6><strong>Email:</strong></h6>
              </div>
            </div>
            <div class="row value">
              <div class="col-md-12">
                <h6>{{(actualUser$ | async).email}}</h6>
              </div>
            </div>
            <div class="row title">
              <div class="col-md-12">
                <h6><strong>Elérhetőség:</strong></h6>
              </div>
            </div>
            <div class="row value">
              <div class="col-md-12">
                <h6>{{(actualUser$ | async).phone}}</h6>
              </div>
            </div>
            <div class="row title">
              <div class="col-md-12 title">
                <strong>Hiba típusa:</strong>
              </div>
            </div>
            <div class="row value">
              <div class="col-md-12">
                <div [ngSwitch]="problem?.type">
                  <h6 *ngSwitchCase="0">Oldallal kapcsolatos</h6>
                  <h6 *ngSwitchCase="1">Társasházzal kapcsolatos</h6>
                  <h6 *ngSwitchDefault></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 problem-value">
            <div class="row row-pics">
              <div class="col">
                <h6 *ngIf="problem?.pictures?.length > 0"><strong>Feltöltött képek</strong></h6>
                <div class="container container-pic">
                  <div class="row">
                    <div *ngFor="let pic of problem.pictures">
                      <div class="col-sm-12">
                        <img [src]="pic.url" alt="egy kép" width="150px" height="auto">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-text">
              <div class="col col-text">
                <h6><strong>Megjegyzés:</strong></h6>
                <p>{{problem.text}}</p>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
